<app-header-emp></app-header-emp>
<app-tarjetas-emp></app-tarjetas-emp>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 espacio-titulo">

            <h2 class="text-center">{{ 'footer-faq-label' | translate }}</h2>

        </div>
      </div>
    </div>
    <div class="container">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane show active" id="distritales" role="tabpanel" aria-labelledby="distritales-tab">
          <div class="row fondo">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div id="accordion">
                  <div class="card">
                    <div class="card-header text-center" id="heading-1">
                      <h5 class="mb-0">
                        <a class=" acordion" data-toggle="collapse" data-target="#pregunta1" aria-expanded="true" aria-controls="pregunta1">
                          <span class="">
                            <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                            <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                          </span>
                          <span>¿Cuando me pagarán por hacer Hitch? </span>
                        </a>
                      </h5>
                    </div>
                    <div id="pregunta1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion">
                      <div class="card-body">
                        <p class="respuesta texto-contenido "> R: La empresa, se encargará de realizar el pago por Hitch, una vez que el candidato ofrecido sea contratado, bajo los términos establecidos.  </p>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header text-center " id="heading-2">
                      <h5 class="mb-0">
                        <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta2" aria-expanded="false" aria-controls="pregunta2">
                          <span class="">
                            <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                            <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                          </span> ¿Cómo contrato a un candidato?
                        </a>
                      </h5>
                    </div>
                    <div id="pregunta2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion">
                      <div class="card-body">
                        <p class="respuesta texto-contenido "> R: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor libero augue, eu vestibulum dui tincidunt a. Pellentesque eu placerat erat. Ut dapibus placerat gravida. Mauris scelerisque diam nulla, sed sodales leo viverra nec. Morbi cursus lorem et sapien porttitor imperdiet. Nullam purus enim, tristique in lacus ut, aliquet vestibulum augue. Nam interdum diam dolor, sed varius velit ultricies vel.  </p>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header text-center " id="heading-3">
                      <h5 class="mb-0">
                        <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta3" aria-expanded="false" aria-controls="pregunta3">
                          <span class="">
                            <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                            <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                          </span> ¿Cómo pagarle a un Hitcher?
                        </a>
                      </h5>
                    </div>
                    <div id="pregunta3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion">
                      <div class="card-body">
                        <p class="respuesta texto-contenido "> R: Nullam tristique ipsum eu sapien gravida, sed volutpat ex dictum. Nulla condimentum accumsan nulla, vel porta elit. Vestibulum iaculis enim erat, eu efficitur nunc vulputate in.
                          <br>Cras tincidunt massa nec tincidunt mollis. Proin eget egestas libero. Sed feugiat eget nulla sed vehicula. Quisque et lorem maximus, molestie quam eu, dapibus urna.  </p>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header text-center " id="heading-4">
                      <h5 class="mb-0">
                        <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta4" aria-expanded="false" aria-controls="pregunta4">
                          <span class="">
                            <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                            <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                          </span> ¿Cuando me pagarán por hacer Hitch?
                        </a>
                      </h5>
                    </div>
                    <div id="pregunta4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                      <div class="card-body">
                        <p class="respuesta texto-contenido "> R: La empresa, se encargará de realizar el pago por Hitch, una vez que el candidato ofrecido sea contratado, bajo los términos establecidos. </p>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header text-center " id="heading-5">
                      <h5 class="mb-0">
                        <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta5" aria-expanded="false" aria-controls="pregunta5">
                          <span class="">
                            <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                            <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                          </span>¿Cómo contrato a un candidato?
                        </a>
                      </h5>
                    </div>
                    <div id="pregunta5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion">
                      <div class="card-body">
                        <p class="respuesta texto-contenido "> R: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor libero augue, eu vestibulum dui tincidunt a. Pellentesque eu placerat erat. Ut dapibus placerat gravida. Mauris scelerisque diam nulla, sed sodales leo viverra nec. Morbi cursus lorem et sapien porttitor imperdiet. Nullam purus enim, tristique in lacus ut, aliquet vestibulum augue. Nam interdum diam dolor, sed varius velit ultricies vel. </p>
                      </div>
                    </div>
                  </div>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center pbtn">
              <button type="button" class="btn btn-success" id="mostrar">Mostrar</button>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center pbtn">
              <button type="button" class="btn btn-success" id="ocultar">Ocultar</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
<app-footer-emp></app-footer-emp>
