<section class="ptt sticky-top-2 fondoseccion d-none d-md-block">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-3 col-md-3">
        <div routerLink="/ofertas-empresa"class="rectangulo">
          <div class="row">
            <div class="col-lg-10 col-md-10 textpadding">
              <h3 class=" ">{{ 'epp-heads-offers' | translate }}</h3>
            </div>
            <div class="col-lg-2 col-md-2">
              <i class="fas fa-bookmark iconosrec"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div routerLink="/wallet" class="rectangulo2">
          <div  class="row">
            <div class="col-lg-10 col-md-10 textpadding">
              <h3 class=" ">Wallet</h3>
            </div>
            <div class="col-lg-2 col-md-2">
              <i class="fas fa-dollar-sign iconosrec"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div routerLink="/estadisticas-empresa" class="rectangulo3">
          <div class="row">
            <div class="col-lg-10 col-md-10 textpadding">
              <h3 class=" ">{{ 'stats-head-lbl' | translate }}</h3>
            </div>
            <div class="col-lg-2 col-md-2">
              <i class="fas fa-chart-bar iconosrec"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div routerLink="/noticias-empresa" class="rectangulo4">
          <div class="row">
            <div class="col-lg-10 col-md-10 textpadding">
              <h3 class=" ">{{ 'headeru-news-head' | translate }}</h3>
            </div>
            <div class="col-lg-2 col-md-2">
              <i class="fas fa-rss iconosrec"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
