<app-header></app-header>
<app-tarjetas></app-tarjetas>
  <section class="alto">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 ptitulo">
            <h2 class="text-center">{{'hitchs-head-label'|translate}}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-11 col-md-11 col-sm-11 col-10">
            <mat-form-field>
              <input matInput placeholder="{{'general-button-search'|translate}}">
            </mat-form-field>
          </div>
          <div class="col-lg-1 col-1 col-md-1 col-sm-1 col-2">
            <i class="fa fa-search icolor" aria-hidden="true"></i>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <table class="table table-bordered table-striped">
              <thead>
                <tr class="tabla-ofertas text-center">
                  <th class="font-weight-light" scope="col" colspan="3">{{'candidato'|translate}}</th>
                  <th class="font-weight-light" scope="col">{{'puesto-hitch'|translate}}</th>
                  <th class="font-weight-light" scope="col">{{'empresa-solicitante'|translate}}</th>
                  <th class="font-weight-light" scope="col">{{'index-offer-reward'|translate}}</th>
                  <th class="font-weight-light" scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr valign="middle">
                  <td class="text-center">
                    <form action="#">
                          <p>
                            <mat-checkbox></mat-checkbox>
                          </p>
                        </form>
                    </td>
                  <td class="text-center"><img class="imgRedonda posicion-imagen" src="../../assets/img/profiledefault.png" alt="">   <span class="p-10">  <i class="fas fa-greater-than"></i>  </span>   <img class="imgRedonda posicion-imagen" src="../../assets/img/profiledefault.png" alt=""></td>
                  <td class="text-center">
                    <a href="#"> recomendación</a>
                  </td>

                  <td>
                    <p>oferta</p>
                  </td>
                  <td>
                    <p>empresa solicitante</p>
                  </td>
                  <td>
                   <p>$  100.<sup>00</sup></p>
                  </td>
                  <td class="text-center">
                    <img class="cambios imgRedonda posicion-imagen" src="../../assets/img/profiledefault.png" alt="">
                  </td>
                </tr>
                <tr valign="middle">
                  <td class="text-center">
                    <form action="#">
                          <p>
                            <mat-checkbox></mat-checkbox>
                          </p>
                        </form>
                    </td>
                  <td class="text-center"><img class="imgRedonda posicion-imagen" src="../../assets/img/profiledefault.png" alt="">   <span class="p-10">  <i class="fas fa-greater-than"></i>  </span>   <img class="imgRedonda posicion-imagen" src="../../assets/img/profiledefault.png" alt=""></td>
                  <td class="text-center">
                    <a href="#"> recomendación</a>
                  </td>

                  <td>
                    <p>oferta</p>
                  </td>
                  <td>
                    <p>empresa solicitante</p>
                  </td>
                  <td>
                   <p>$  100.<sup>00</sup></p>
                  </td>
                  <td class="text-center">
                    <img class="cambios imgRedonda posicion-imagen" src="../../assets/img/profiledefault.png" alt="">
                  </td>
                </tr>
                <tr valign="middle">
                  <td class="text-center">
                    <form action="#">
                          <p>
                            <mat-checkbox></mat-checkbox>
                          </p>
                        </form>
                    </td>
                  <td class="text-center"><img class="imgRedonda posicion-imagen" src="../../assets/img/profiledefault.png" alt="">   <span class="p-10">  <i class="fas fa-greater-than"></i>  </span>   <img class="imgRedonda posicion-imagen" src="../../assets/img/profiledefault.png" alt=""></td>
                  <td class="text-center">
                    <a href="#"> recomendación</a>
                  </td>

                  <td>
                    <p>oferta</p>
                  </td>
                  <td>
                    <p>empresa solicitante</p>
                  </td>
                  <td>
                   <p>$  100.<sup>00</sup></p>
                  </td>
                  <td class="text-center">
                    <img class="cambios imgRedonda posicion-imagen" src="../../assets/img/profiledefault.png" alt="">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </section>

<app-footer></app-footer>
