<!-- <share-buttons theme="material-dark" show="11"></share-buttons> -->
<div class="container">
  <!-- REDES PARA ESCRITORIO -->
  <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block">
    <div class="row">
        <div class="redes-sociales">
          <span shareButton="facebook" [url]="ruta()" class="icono icono-f">
            <i class="fa fa-facebook-f"></i>
          </span>

          <span shareButton="twitter" class="icono icono-t">
            <i class="fa fa-twitter"></i>
          </span>

          <span shareButton="whatsapp" class="icono icono-w">
            <i class="fa fa-whatsapp"></i>
          </span>

          <span shareButton="instagram" class="icono icono-i">
            <i class="fab fa-instagram"></i>
          </span>

        </div>
    </div>
  </div>

  <!-- REDES PARA TABLET Y MOVIL -->
  <div id="bloquear"></div>
    <div class="d-block d-sm-block d-md-block d-lg-none d-xl-noe">
      <div class="row">
        <div class="rs-movil" id="div-redes">
          <div id="ver-esconder" class="esconder-iconos">

            <span shareButton="facebook" class="x icono-f">
              <i class="fa fa-facebook-f"></i>
            </span>

            <span shareButton="twitter" class="x icono-t">
              <i class="fa fa-twitter"></i>
            </span>

            <span shareButton="whatsapp" class="x icono-w">
              <i class="fa fa-whatsapp"></i>
            </span>

            <span shareButton="instagram" class="x icono-i">
              <i class="fab fa-instagram"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>
