/* REDES PARA ESCRITORIO */
.redes-sociales {
	height: 300px;
	position: fixed;
	right: 20px;
	top: 27%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
	cursor: pointer;
}

.icono{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 10px;
}


.icono-f{
  background-color: #4267b2;
}
.icono-t{
 background-color: #2daae2;
}
.icono-w{
 background-color: #4aeb67;
}
.icono-i{
 background-color: #d02f73;
}

.icono:hover{
	transform: scale(1.1, 1.1);
}

/* REDES PARA TABLET Y MOVIL */
.esconder-iconos{
	display: none;
}

.ver-iconos{
	display: block;
}

.bloquear {
	background-color: rgb(35, 35, 35);
	opacity: 0.5;
	height: 1000px;
	width: 1000px;
	margin: -100vh -15vh;
	z-index: 3;
	position: fixed;
	display: flex;
}

.rs-movil {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	z-index: 100;
	position: fixed;
	right: 20px;
	top: 85%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	cursor: pointer;
  background: #4d4d4d;
}

.rs-movil:before {
	content: "\f1e0";
  font-family: FontAwesome;
  font-size: 30px;
  text-align: center;
  padding-right: 11px;
	font-weight: lighter;
  color: #fff;
}

.rs-cerrar:before {
	content: "\f00d";
  font-family: FontAwesome;
  font-size: 30px;
  text-align: center;
  padding-right: 11px;
	font-weight: lighter;
  color: #fff;
}

.icono-movil {
	color: #fff;
  position: absolute;
  z-index: 0;
  text-align: center;
  right: 65px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-top: 5px;
	opacity: 0;

}

.x{
	color: #fff;
  position: absolute;
  z-index: 0;
  text-align: center;
  right: 4px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-top: 5px;
	transition:  ease-in 3s;
}

.rs-movil .icono-movil {
  opacity: 1;
  position: absolute;
	z-index: 1;
 }
.rs-movil .icono-movil:nth-child(1) {
		/* transition:  ease-in-out 7s; */
  position: absolute;
  bottom: 90px;
	right: 5px;
}
.rs-movil .icono-movil:nth-child(2) {
		/* transition:  ease-in-out 5s; */
  position: absolute;
	bottom: 70px;
	right: 55px;
}
.rs-movil .icono-movil:nth-child(3) {
		/* transition:  ease-in-out 3s; */
  position: absolute;
	bottom: 35px;
	right: 90px;
}
.rs-movil .icono-movil:nth-child(4) {
		/* transition:  ease-in-out 1s; */
  position: absolute;
	bottom: -10px;
	right: 100px;
}
/* movil horizontal  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* .bloquear{
		margin: -75% -15%; */
		/* width: 102%; */
	/* }
	.rs-movil {
		top: 82%;
	} */
}

/* tablet vertical */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* .bloquear{
		margin: -100vh -15%;
	}
	.rs-movil {
		top: 90%;
	} */
}
