<app-header></app-header>
<app-tarjetas></app-tarjetas>

      <section class="alto">
      <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="text-center ptitulo">{{'resultado-busqueda'|translate}}</h2>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-1">
          <mat-form-field>
            <input matInput placeholder="{{'buscador'|translate}}">
          </mat-form-field>
        </div>
        <br>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <p class="referencia-contenido font-weight-light"> {{'resultados'|translate}}:</p>
        </div>
      </div>


        <div>
          <div  class="row m-div">
            <div class="col-lg-7 col-md-7 col-sm-9 col-12">
              <h3 class="font-weight-normal"> Nombre de la empresa </h3>
              <p class="font-weight-normal">Descripción</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-3 text-right d-none d-sm-block">
              <img class="imgRedonda posicion-imagen flecha" src="assets/img/profiledefault.png" alt="">
            </div>
              <hr class="linea">
          </div>
      </div>

      </div>
      </section>
<app-footer></app-footer>
