<app-header-s-l></app-header-s-l>

<section>
  <div class="container alto">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <!-- <h5>Legal Muuwho</h5> -->
          <h2>Diversidad e inclusión</h2>
        </div>
        <div class="col-12">
          <p class="texto" >
              <br>
              MUUWHO respeta, promueve y valora la diversidad, la inclusión y los principios de igualdad de oportunidades en el trabajo, que propician un trato justo, equitativo y transparente; 
              y nos permiten aprender a partir de las diferencias, generando fuentes de ventaja competitiva. Nuestros lugares de trabajo están conformados por colaboradores de diferentes nacionalidades, 
              genero, edad, capacidad, sexo, estado civil o política y orientación sexual; características disímiles que nos complementan, agregan valor, refuerzan el compromiso y el orgullo de 
              pertenencia de los empleados, mejoran la riqueza de los análisis y por lo tanto la toma de decisiones y aumentan la creatividad e innovación que apoyan la sostenibilidad de la empresa. <br>
              <br>
              La diversidad en MUUWHO no sólo se limita a aspectos físicos de raza, origen étnico, género, edad, orientación sexual y discapacidad, sino que incluye cultura, religión, educación, 
              experiencia, perspectivas y creencias. La inclusión ayuda a crear un ambiente de trabajo donde todos los colaboradores participan de la generación del éxito de la empresa y son valorados 
              por su capacidad y talento. <br>
              <br>
              Como parte de nuestro compromiso con nuestros colaboradores hemos definido la presente Política de Diversidad e Inclusión, que aplica a todos los niveles jerárquicos de la organización 
              y que define los siguientes lineamientos: <br>
              <br>
              • Basamos nuestra estrategia en prácticas de diversidad e inclusión, para seleccionar y contratar colaboradores con talento, diferentes culturas, trayectorias y disciplinas, 
              que nos ayuden a cumplir con nuestros objetivos de negocio y nuestras estrategias de sustentabilidad. <br>
              • Buscamos atraer, desarrollar y retener colaboradores con talento para integrar equipos de trabajo altamente competentes. <br>
              • Ofrecemos igualdad de oportunidades de desarrollo y crecimiento personal y laboral, al reconocer su capacidad, responsabilidad y buen desempeño en todas sus actividades. <br>
              • Brindamos un ambiente de respeto a todos los colaboradores y defendemos sus derechos de tener acceso a igualdad de oportunidades. <br>
              • Buscamos el equilibrio laboral y familiar, ayudándolos a combinar sus responsabilidades profesionales y familiares. <br>
              <br>
              Fomentamos un buen ambiente de trabajo, la toma de decisiones y el sentido de pertenencia. Nuestro equipo directivo debe ser ejemplo de comportamiento y garantizar el cumplimiento 
              de esta política, que rechaza cualquier situación de discriminación, acoso, abuso de autoridad, ofensa u otra forma de agresividad y hostilidad, basada en la Declaración Universal 
              de los Derechos Humanos, los Principios del Pacto Mundial de la Organización de las Naciones Unidas así como la Declaración de la Organización Internacional del Trabajo. 
              Estas prácticas de diversidad e inclusión nos posicionan como un mejor lugar para trabajar, un excelente socio de negocios y una organización comprometida con el 
              desarrollo internacional. <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-s-l></app-footer-s-l>