<app-header-emp></app-header-emp>
<app-tarjetas-emp></app-tarjetas-emp>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 class="titulo text-center">{{'headere-menu-offers'|translate}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="headOferta"></div>
        <div class="perfilPicBorde">
          <img src="assets/img/mordor@mordor.com.png" alt="imagen_perfil" class="perfilPic">
        </div>
      </div>
    </div>

  </div>
</section>

<section class="d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="bodyOferta oferta">
          <h4 class="colorOferta">{{'index-offer-reward'|translate}} <span>$300</span></h4>
          <h4 class="quitarMargen">Commander</h4>
          <h3 class="colorOferta">Mordor</h3>
          <h5 class="quitarMargen">{{'tipo-oferta'|translate}}: Privada</h5>
          <p class="quitarMargen">{{'index-offer-salary'|translate}}: <span>$3000 USD Mensuales</span></p>
          <p class="quitarMargen">{{'vacantes-disponibles'|translate}}: <span> 1</span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="oferta">
          <div class="row">
            <div class="col-sm-12 col-12">
                <h4 class="colorOferta text-center ptexto">Nombre Oferta</h4>
            </div>
              <div class="col-sm-12 col-12">
                  <h5 class="text-center">{{'tipo-oferta'|translate}}: Privada</h5>

                  <h5 class="text-center colorOferta">{{'index-offer-reward'|translate}} <span>$300</span></h5>
              </div>
                <div class="col-sm-12 col-12">
                    <h5 class="text-center">{{'vacantes-disponibles'|translate}}: <span> 1</span></h5>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="oferta">
          <div class="row">

            <div class="offset-xl-1 col-xl-1 offset-lg-1 col-lg-2 col-md-4 col-sm-4 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-org'|translate}}</p>
              <div id="hoverOrganigrama" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-tags-line'|translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-dress'|translate}}</p>
              <div id="hoverVestimenta" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-tags-for'|translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-schedule'|translate}}</p>
              <div id="hoverHorario" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-tags-half'|translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-office'|translate}}</p>
              <div id="hoverOficina" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-tags-free'|translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-language'|translate}}</p>
              <div id="hoverIdiomas" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-tags-not'|translate}}</p>
                </div>
              </div>
            </div>

            <div class="offset-xl-0 col-xl-1 offset-lg-1 col-lg-2 col-md-4 col-sm-4 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-hire'|translate}}</p>
              <div id="hoverContratacion" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-tags-fl'|translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-job'|translate}}</p>
              <div id="hoverTrabajo" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-icons-office'|translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-location'|translate}}</p>
              <div id="hoverUbicacion" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-tags-tra'|translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-2 col-md-4 col-sm-4 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-colab'|translate}}</p>
              <div id="hoverColaboracion" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-tags-team'|translate}}</p>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-2 col-md-12 col-sm-12 col-6 text-center">
              <p class="letra-iconos">{{'fulloffer-icons-exp'|translate}}</p>
              <div id="hoverExperiencia" class="hoverimagen">
                <div class="info">
                  <p class="hovertext">{{'fulloffer-tags-6'|translate}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="oferta bodyOferta-2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h4>{{'fulloffer-icons-location'|translate}}:</h4>
              <p>Mx - Mordor</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h4>{{'fulloffer-contract-type'|translate}}:</h4>
              <p>{{'fulloffer-tags-half'|translate}}</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h4>{{'fulloffer-description-label'|translate}}:</h4>
              <mat-form-field>
                <textarea matInput placeholder="Para esta oferta se seleccionó:" value="-{{'fulloffer-tags-line'|translate}} -{{'fulloffer-tags-for'|translate}} -{{'fulloffer-tags-half'|translate}} -{{'fulloffer-tags-free'|translate}} -{{'fulloffer-tags-not'|translate}} -{{'fulloffer-tags-fl'|translate}} -{{'fulloffer-icons-office'|translate}} -{{'fulloffer-tags-tra'|translate}} -{{'fulloffer-tags-team'|translate}} -{{'fulloffer-tags-6'|translate}}"  [disabled]="isDisabled"></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h4>{{'fulloffer-additional-info'|translate}}:</h4>
              <p>mordor@mordor.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="oferta chips">
          <mat-chip-list class="mat-chip-list-wrapper">
            <mat-chip>Oferta</mat-chip>
            <mat-chip>Tag1</mat-chip>
            <mat-chip>Prueba</mat-chip>
            <mat-chip>test</mat-chip>
            <mat-chip>informal</mat-chip>
            <mat-chip>medio</mat-chip>
            <mat-chip>experiencia</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
        <div class="oferta botones">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
              <button class="btn btn-outline-primary eliminar">{{'general-button-delete'|translate}} <i class="fas fa-times"></i></button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
              <button class="btn btn-outline-primary editar" (click)="disabletextArea()">{{'general-button-edit'|translate}} <i class="fas fa-pencil-alt"></i></button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
              <button class="btn btn-outline-primary guardar mb">{{'general-button-save'|translate}} <i class="fas fa-save"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer-emp></app-footer-emp>
