<app-header></app-header>
<app-tarjetas></app-tarjetas>
<section>
  <div class="container alto">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="titulo">Nosotros</h2>
        </div>
        <div class="col-12">
          <div class="texto fondo" align="justify">
            <br>
            <h5 class="font-weight-bold">¿Por qué?</h5>
            <ul>
                <li type="circle"> <p>Creemos que juntos somos más fuertes y que las amistades son lo más importante.</p> </li>
                <li type="circle"> <p>Creemos que la empresas no siempre encuentran a la persona ideal.</p> </li>
                <li type="circle"> <p>Creemos en que una recomendación de un amigo vale más que cualquier otra cosa.</p> </li>
                <li type="circle"> <p>Creemos que podemos cambiar el estatus quo de como se relacionan las empresas con las personas que desean contratar.</p> </li>
            </ul>
            <h5 class="font-weight-bold">¿Cómo?</h5>
              <ul>
                <p>
                    Pensamos que la recomendación de un amigo vale más que cualquier otra cosa. Sabemos que el sistema laboral,
                    como lo conocemos hoy en dia, impide a las personas usar sus verdaderas conexiones, su red de contactos, para
                    sí mismos o para apoyar a sus amigos. <b>Muuwho</b> es la nueva manera de interactuar entre las empresas y las personas.
                    Pone al alcance de todos una red social colaborativa e amistosa, donde unos recomiendan a otros y en donde
                    las empresas alcanzar a personas en quien nunca pensaron ... porque fueron recomendados por un amigo.
                </p>
              </ul>
            <h5 class="font-weight-bold">¿Quiénes somos?</h5>
              <ul>
                <p>
                    <b>Muuwho</b> es una plataforma interactiva de referencias cobra vida por un sistema de recomendación de amigos
                    a cambio de una recompensa justa. Cualquiera puede ser parte de la misma sin costo alguno y ganar
                    dinero recomendando a amigos y las empresas solo pagan la recompensa que ellos estiman justa.
                </p>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
