.fondo {
    background-color: white;
}
.espacio-titulo{
  padding: 10px 0;
  color: #6d7aa3;
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
  h2{
    font-size: 1.5rem;
  }
  h5{
    font-size: 1rem;
  }
  p{
    font-size: .7rem;
  }

  ol ol, ol ul, ul ol, ul ul, ol li {
      font-size: .7rem;
  }

}

@media only screen and (min-width: 360px) and (max-width: 413px) {
  h2{
    font-size: 1.5rem;
  }
  h5{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 414px) and (max-width: 479px) {
  h2{
    font-size: 1.5rem;
  }
  h5{
    font-size: 1rem;
  }
}
