<app-header></app-header>
<app-tarjetas></app-tarjetas>
<div class="container">
  <div class="row">
    <div class="col-12 espacio-titulo">

        <h2 class="text-center">{{ 'footer-faq-label' | translate }}</h2>

    </div>
  </div>
</div>
<div class="container">
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane show active" id="distritales" role="tabpanel" aria-labelledby="distritales-tab">
      <div class="row fondo">
          <div class="col-12">
            <div id="accordion">
              <div class="card">
                <div class="card-header text-center" id="heading-1">
                  <h5 class="mb-0">
                    <a class=" acordion" data-toggle="collapse" data-target="#pregunta1" aria-expanded="true" aria-controls="pregunta1">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span>
                      <span>¿Qué es un Hitch?</span>
                    </a>
                  </h5>
                </div>
                <div id="pregunta1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido "> R: Se le conoce como Hitch al momento en que tu postulas a un contacto a una vacante de empleo en Muuwho. </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-2">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta2" aria-expanded="false" aria-controls="pregunta2">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span> ¿Qué es un Hitcher?
                    </a>
                  </h5>
                </div>
                <div id="pregunta2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido "> R: Es un usuario que postuló a uno de sus contactos a una vacante de empleo en Muuwho. </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-3">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta3" aria-expanded="false" aria-controls="pregunta3">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span> ¿Tengo que tener mi perfil completo para poder darme de alta en la página?
                    </a>
                  </h5>
                </div>
                <div id="pregunta3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido "> R: No, lo ideal es que llenes tus datos para que te puedan aceptar mas rapido las empresas. </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-4">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta4" aria-expanded="false" aria-controls="pregunta4">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span> ¿Qué son las recompensas en la página?
                    </a>
                  </h5>
                </div>
                <div id="pregunta4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido "> R: Es un monto monetario que pone la empresa para el Hitcher.  </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-5">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta5" aria-expanded="false" aria-controls="pregunta5">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span>¿Cómo se obtienen las recompensas?
                    </a>
                  </h5>
                </div>
                <div id="pregunta5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido "> R: Si la persona que “Hitcheaste” ya fue contratado por la empresa que recomendaste, el hitcher obtiene de manera automática la recompensa. </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-6">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta6" aria-expanded="false" aria-controls="pregunta6">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span>¿Dónde recibo el dinero de la recompensa?
                    </a>
                  </h5>
                </div>
                <div id="pregunta6" class="collapse" aria-labelledby="heading-6" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido "> R: El dinero se va directamente a tu cuenta de Paypal, se contacta al Hitcher y se pide su cuenta Paypal para que reciba el monto monetario. </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-7">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta7" aria-expanded="false" aria-controls="pregunta7">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span>¿Puedo postularme a una vacante de empleo desde mi perfil?
                    </a>
                  </h5>
                </div>
                <div id="pregunta7" class="collapse" aria-labelledby="heading-7" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido "> R: No, para que te postules a una vacante necesites que te recomienden o “Hitcheen” a esa vacante por alguno de tus contactos. </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-8">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta8" aria-expanded="false" aria-controls="pregunta8">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span>¿Puedo contactar a las empresas vía mensaje?
                    </a>
                  </h5>
                </div>
                <div id="pregunta8" class="collapse" aria-labelledby="heading-8" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido "> R: No, el chat es exclusivamente para mensajes entre contactos. </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-9">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta9" aria-expanded="false" aria-controls="pregunta9">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span>¿Cómo hago un hitch?
                    </a>
                  </h5>
                </div>
                <div id="pregunta9" class="collapse" aria-labelledby="heading-9" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido ">R: Observa las vacantes de empleo, si tienes un amigo que cumpla con las requisitos de la vacante de empleo, oprimir en hacer hitch, elegir a tu contacto y manda el hitch!</p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-10">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta10" aria-expanded="false" aria-controls="pregunta10">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span>¿Si me gusta una vacante puedo postularme desde mi perfil?
                    </a>
                  </h5>
                </div>
                <div id="pregunta10" class="collapse" aria-labelledby="heading-10" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido ">R: No, tendrías que pedirle a un amigo que te haga Hitch </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header text-center " id="heading-11">
                  <h5 class="mb-0">
                    <a class=" acordion collapsed" data-toggle="collapse" data-target="#pregunta11" aria-expanded="false" aria-controls="pregunta11">
                      <span class="">
                        <i class="fa fa-angle-down flecha-abajo" aria-hidden="true"></i>
                        <i class="fa fa-angle-up flecha-arriba" aria-hidden="true"></i>
                      </span>¿Cómo me postulo a una vacante?
                    </a>
                  </h5>
                </div>
                <div id="pregunta11" class="collapse" aria-labelledby="heading-11" data-parent="#accordion">
                  <div class="card-body">
                    <p class="respuesta texto-contenido ">R: Si te gusta una oferta de empleo, da click en el avión para pedir una recomendación a tus amigos para ser Hitcheado.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center pbtn">
          <button type="button" class="btn btn-success" id="mostrar">Mostrar</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center pbtn">
          <button type="button" class="btn btn-success" id="ocultar">Ocultar</button>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
