<footer>
  <section class="p-footer">
    <div class="container">
      <div class="row">

       <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="text-center ">
              <p routerLink="/perfil-empresa" class="text-center font-weight-bold flecha">MuuWho de México S.A.P.I. de C.V. <br> <span class="font-weight-light">&#169; Copyright, {{anio}}</span> </p>
            </div>
        </div>

        <div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
                  <p class="flecha">{{ 'contact-head-lbl' | translate }}</p>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
                  <p class="flecha">{{ 'footer-diversity-label' | translate }}</p>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
                  <p class="flecha">{{ 'footer-policy-label' | translate }}</p>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
                  <p class="flecha">{{ 'footer-us-label' | translate }}</p>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
                  <p class="flecha">{{ 'footer-terms-label' | translate }}</p>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
                  <p class="flecha">{{ 'footer-faq-label' | translate }}</p>
            </div>

          </div>
        </div>

        <div class="col-xl-1 col-lg-2 col-md-12 col-sm-12 col-12 text-center">
          <app-idioma></app-idioma>
        </div>

      </div>
    </div>
  </section>
</footer>
