<footer>
  <section class="p-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-center">
          <p routerLink="/ofertas-trabajo" class="flecha font-weight-bold">MuuWho de México S.A.P.I. de C.V. <br> <span class="font-weight-light">&#169; Copyright, {{anio}}</span></p>
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <p routerLink="/contactanos" class="text-center flecha">{{'menu-empresa'|translate}}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <p routerLink="/diversidad-inclusion" class="text-center flecha">{{'footer-diversity-label'|translate}}</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <p routerLink="/politicas-privacidad-u" class="text-center flecha">{{'footer-policy-label'|translate}}</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <p routerLink="/terminos-condiciones-u" class="text-center flecha">{{'footer-terms-label'|translate}}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <p routerLink="/quienes-somos-u" class="text-center flecha">{{'footer-usalt-label'|translate}}</p>
            </div>
          </div>
        </div>

        <div class="col-lg-1 col-md-12 col-sm-12 col-12 text-center">
          <app-idioma></app-idioma>
        </div>

      </div>
    </div>
  </section>
</footer>
