<app-header></app-header>
<app-tarjetas></app-tarjetas>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 espacio-titulo">
        <h5 class="text-center titulo">Legal <b>MUUWHO</b></h5>
        <h2 class="text-center titulo">Políticas de privacidad</h2>
      </div>
      <div class="col-12 fondo">
        <p align="justify"><b>Muuwho</b> S.A.P.I. de C.V. (en lo sucesivo <b>"MUUWHO”</b>), con domicilio en Avenida Paseo de las Palmas 751 piso 6 Lomas de Chapultepec I Sección;
           es el responsable del uso y protección de sus datos personales, ya que <b>MUUWHO</b>, es una empresa comprometida al tratamiento legítimo, controlado e informado
           de los datos personales, nos preocupamos por establecer y mantener en vigor controles, medidas y procedimientos que nos permitan proteger los datos de
           todas las personas físicas, que interactúan con nosotros en cumplimiento a lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión
           de los Particulares ("LFPDPPP"), su reglamento y los lineamientos y estándares nacionales e internacionales en materia de Protección de Datos Personales.
         </p>

         <p align="justify">En cumplimiento a los principios de información, consentimiento, licitud y lealtad, ponemos a su disposición el siguiente Aviso de Privacidad:</p>

         <ol align="justify">
            <li>Datos que podemos obtener de usted de forma directa a través de nuestra plataforma <b>MUUWHO</b> es importante darle a conocer que algunos de sus datos
              personales Los datos que le solicitaremos son los siguientes:

              <ol type="A">
                <li>Datos de identificación: información que permite diferenciarlo de otros individuos.
                  <ul>
                    <li type="disc">Nombre completo.</li>
                    <li type="disc">Fotografía.</li>
                  </ul>
                </li>

                <li>Datos de contacto: información que nos permite mantenernos en contacto con usted para proporcionarle los servicios y funcionalidades de
                  nuestra plataforma, así como darlo de alta.
                  <ul>
                    <li type="disc">Correo electrónico.</li>
                    <li type="disc">Teléfonos.</li>
                    <li type="disc">Domicilio.</li>
                    <li type="disc">Datos de geolocalización.</li>
                    <li type="disc">Datos de contacto de terceros en su calidad de referencias personales.</li>
                  </ul>
                </li>

                <li>Datos personales académicos o profesionales.
                  <ul>
                    <li type="disc">Trayectoria académica.</li>
                    <li type="disc">Experiencia profesional.</li>
                    <li type="disc">Grados académicos o diplomas obtenidos.</li>
                    <li type="disc">Certificaciones profesionales.</li>
                  </ul>
                </li>

                <li>Datos que recabamos de terceros a través de los usuarios postulantes.
                  <ul>
                    <li type="disc">Correo electrónico Usted declara bajo protesta de decir verdad haber obtenido el consentimiento de los terceros de los que nos
                      ha referido información de carácter personal, ya sean de cualquier tercero, los usuarios candidatos, o referencias personales y profesionales.<br>
                      En todo momento, cualquier interesado podrá solicitar el ejercicio de sus derechos ARCO, mediante el procedimiento señalado más adelante.</li>
                  </ul>
                </li>

              </ol>
            </li>

            <li>Finalidades para los cuales <b>MUUWHO</b> trata sus datos personales <b>MUUWHO</b>, utiliza sus datos personales para las siguientes finalidades que son
              necesarias para poder proveerle de nuestros servicios:
              <ol type="a">
                <li>Darlo de alta en nuestra plataforma.</li>
                <li>Otorgarle sus beneficios y recompensas.</li>
                <li>Publicación de vacantes laborales.</li>
                <li>Efectuar cobros y depósitos de recompensas. </li>
              </ol>
            </li>

            <li>Transferencias de datos personales <b>MUUWHO</b>, únicamente comparte sus datos personales con los usuarios de nuestra plataforma para los fines y
              servicios descritos en nuestros términos y condiciones de uso; no realiza transferencias a terceros de sus datos personales, salvo aquellas que
              están expresamente permitidas por Ley y exceptuadas del consentimiento del titular por ejemplo, requerimientos de autoridades competentes,
              por cumplimiento de una Ley o Tratado Internacional, o por motivo de un contrato que nos obligue.<br> En dichos casos siempre nos aseguraremos de
              que las personas que traten sus datos lo hagan de conformidad con nuestro Aviso de Privacidad.</li>

            <li>Ejercicio de sus Derechos ARCO Usted, tiene, en todo momento, el derecho de solicitar a <b>MUUWHO</b> el acceso a sus datos personales y/o la
              rectificación de los mismos; asimismo, usted podrá solicitar que sus datos sean cancelados, oponerse a que <b>MUUWHO</b> trate dichos datos para fines
              específicos y/o revocar el consentimiento que previamente nos haya otorgado para tratar sus datos para algún fin específico (los "Derechos ARCO");
              por favor considere que sus Derechos ARCO están sujetos a las limitaciones que establecen las leyes.<br> Para ejercitar sus Derechos ARCO, usted deberá
              hacerle llegar a <b>MUUWHO</b> su solicitud al siguiente correo electrónico arco@muuwho.com su solicitud de derechos ARCO deberá contener:
              <ul>
                <li type="disc">Nombre completo.</li>
                <li type="disc">Copia simple o copia digital de identificación oficial para acreditar la identidad. (INE, pasaporte, cédula profesional).</li>
                <li type="disc">Representación: En caso de actuar en representación de un menor, se deberá presentar acta de nacimiento o documento oficial
                   donde se acredite la personalidad del padre o tutor; en caso de actuar en representación de un tercero mayor de edad, deberá adjuntar el
                   poder donde se acrediten sus facultades para actuar en representación del mismo.</li>
                <li type="disc">Descripción breve de lo que solicita, ya sea el acceso a sus datos, rectificación o cancelación de los mismos, oposición al
                   tratamiento o algunas finalidades del tratamiento o revocación del consentimiento.</li>
                <li type="disc">En caso de rectificación, anexar copia de justificativo que acredite el dato que usted busque rectificar.<br> El plazo de respuesta
                  será de 20 días hábiles, siendo estos contados de conformidad con el ACUERDO mediante el cual se establece el calendario oficial de días inhábiles
                  del INAI del año correspondiente.<br> En caso de no estar conforme con la respuesta que le otorguemos o en ausencia de la misma,
                  usted cuenta con un plazo de quince días hábiles para acudir al Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos
                  Personales y solicitar el procedimiento de protección de derechos</li>
              </ul>
            </li>

            <li>Opciones disponibles para que usted pueda limitar el uso o divulgación de hacemos sus datos personales El medio para limitar el uso y divulgación
              de sus datos es a través del correo electrónico: arco@muuwho.com.</li>

            <li>Medidas de seguridad <b>MUUWHO</b> adoptará las medidas de seguridad técnicas, administrativas y físicas que resulten necesarias y suficientes en
              términos de la LFPDPPP, para la protección de los datos personales de los Clientes. Asimismo, nos aseguramos de que nuestros Encargados también
              incorporen medidas de seguridad para proteger sus datos personales.</li>

            <li>Modificaciones al Aviso de Privacidad <b>MUUWHO</b> se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al
              presente Aviso de Privacidad. El aviso modificado será publicado en nuestra página web _www.muuwho.com_ o se le hará llegar a través de
              correo electrónico si así lo solicita. </li>

            <li>Cookies, webeacons o herramientas automatizadas de obtención y captura de información. Para que usted pueda disfrutar de todas las funciones
              de nuestra plataforma, utilizamos tecnología que puede recabar información consistente en la geolocaización del dispositivo y si usted así lo
              configura, podemos tener acceso a su lista de contactos y calendario; si no desea que estén activas estas funciones, usted puede desactivarlas
              directamente en el menú de herramientas o configuración de su teléfono móvil.</li>

         </ol>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
