<mat-form-field class="seleccionar-idioma">
  <mat-select [(value)]="selected" [ngClass]="selected" disableRipple>
    <mat-option value="option1" (click)="changeLanguage('es')">
      <!-- {{'headeru-lang-switch'|translate}} -->
      <img class="img-banderas" src="assets/img/iconos-idiomas/mexico.png">
    </mat-option>
    <mat-option value="option2" (click)="changeLanguage('en')">
      <!-- {{'headeru-lang-switch-espanol'|translate}} -->
      <img class="img-banderas" src="assets/img/iconos-idiomas/usa.png">
    </mat-option>
  </mat-select>
</mat-form-field>
