<section>
  <div class="container">
    <div class="row justify-content-center align-items-center">
          <h1 class=" letragris">{{'ppe-title-label'|translate}}</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 pnav">
        <nav class="contenido nav-horizontal text-center menu-tabs menu-horizontal tabbable">
          <ul class="contenido nav nav-tabs nav-horizontal_Contents altodetexto" id="myTab" role="tablist">
            <li class="contenido nav-item nav-horizontal_Link">
              <a class="contenido nav-link active nav-horizontal_Link texto-contenido font-weight-light" id="datos-personales-tab" data-toggle="tab"
                href="#datos-personales" role="tab" aria-controls="datos-personales" aria-selected="true">{{'ppe-menu-info'|translate}}</a>
            </li>

            <li class="contenido nav-item nav-horizontal_Link">
              <a class="contenido nav-link nav-horizontal_Link texto-contenido font-weight-light" id="formacion-academica-tab"
                data-toggle="tab" href="#formacion-academica" role="tab" aria-controls="formacion-academica"
                aria-selected="false">{{'ppp-heads-school'|translate}}</a>
            </li>

            <li class="contenido nav-item nav-horizontal_Link">
              <a class="contenido nav-link nav-horizontal_Link texto-contenido font-weight-light" id="experiencia-laboral-tab"
                data-toggle="tab" href="#experiencia-laboral" role="tab" aria-controls="experiencia-laboral"
                aria-selected="false">{{'ppp-heads-work'|translate}}</a>
            </li>

            <li class="contenido nav-item nav-horizontal_Link">
              <a class="contenido nav-link nav-horizontal_Link texto-contenido font-weight-light" id="aptitudes-certificaciones-tab"
                data-toggle="tab" href="#aptitudes-certificaciones" role="tab" aria-controls="aptitudes-certificaciones"
                aria-selected="false">{{'ppp-heads-summary'|translate}}</a>
            </li>

            <li class="contenido nav-item nav-horizontal_Link">
              <a class="contenido nav-link nav-horizontal_Link texto-contenido font-weight-light" id="redes-sociales-tab"
                data-toggle="tab" href="#redes-sociales" role="tab" aria-controls="redes-sociales"
                aria-selected="false">{{'ppp-heads-social'|translate}}</a>
            </li>

            <li class="contenido nav-item nav-horizontal_Link">
              <a class="contenido nav-link nav-horizontal_Link texto-contenido font-weight-light" id="softwares-idiomas-tab"
                data-toggle="tab" href="#softwares-idiomas" role="tab" aria-controls="redes-sociales"
                aria-selected="false">{{'software-idiomas'|translate}}</a>
            </li>

            <li class="contenido nav-item nav-horizontal_Link">
              <a class="contenido nav-link nav-horizontal_Link texto-contenido font-weight-light" id="recomendaciones-correo-alternativo-tab"
                data-toggle="tab" href="#recomendaciones-correo-alternativo" role="tab" aria-controls="redes-sociales"
                aria-selected="false">{{'ppe-menu-mails'|translate}}</a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="tab-content">
      <div class="tab-pane show active" id="datos-personales" role="tabpanel" aria-labelledby="datos-personales-tab">
          <table class="table">
            <thead class="Color-muuwho">
              <tr>
                  <th class="font-weight-light cabeceras">{{'ppe-menu-info'|translate}}</th>
              </tr>
            </thead>
            <tbody class="m-al">
              <tr>
                <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fas fa-user-tie prefix iconos"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="{{'publish-bill-name'|translate}}">
                        </mat-form-field>
                      </div>
                    </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                      <i class="fas fa-id-card prefix iconos"></i>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="{{'apellidos-datos'|translate}}">
                        </mat-form-field>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                      <i class="fas fa-mobile-alt prefix iconos"></i>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8 col-8">
                        <mat-form-field >
                          <input matInput placeholder="{{'publish-bill-phone'|translate}}" title="Ingresa tu numero">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                      <i matTooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                       aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                       cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                         aria-label="Button that displays a tooltip when focused or hovered over"
                         class="fas fa-exclamation-circle iconos">
                      </i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="prefix iconos"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate" class="prefix iconos"></mat-datepicker>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="{{'index-user-cumpleaños'|translate}}">
                          </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fas fa-location-arrow prefix iconos"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field>
                          <mat-select placeholder="{{'ciudad'|translate}}">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <div class="row justify-content-center align-items-center">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="l-formulario text-center">{{'ppe-info-gender'|translate}}</p>
                  </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 text-center">
                        <form action="#">
                          <p>
                            <label>
                              <mat-checkbox>{{'hombre'|translate}} <i class="fas fa-male iconos"></i></mat-checkbox>
                            </label>
                          </p>
                        </form>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 text-center">
                        <form action="#">
                          <p>
                            <label>
                                <mat-checkbox>{{'mujer'|translate}} <i class="fas fa-female iconos"></i></mat-checkbox>
                            </label>
                          </p>
                        </form>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                        <form class="check-otro" action="#">
                          <p>
                            <label>
                              <mat-checkbox>{{"otro"|translate}} <i class="fas fa-user-secret iconos"></i></mat-checkbox>
                            </label>
                          </p>
                        </form>
                      </div>
                </div>
              </tr>
            </tbody>
          </table>
      </div>

      <div class="tab-pane " id="formacion-academica" role="tabpanel" aria-labelledby="formacion-academica-tab">
          <div class="row container_div">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <table id="dv" class="table">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">{{'ppp-heads-school'|translate}}</th>
                </tr>
              </thead>
              <tbody class="m-al">
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fas fa-user-graduate prefix iconos"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="{{'nombre-institucion'|translate}}">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fas fa-graduation-cap prefix iconos"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="{{'programa-cursado'|translate}}">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="row">

                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row">

                          <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                            <i mat-raised-button class="far fa-calendar-alt prefix iconos flecha" (click)="picker2.open()" ></i>
                            <mat-datepicker #picker2 startView="year" [startAt]="startDate" class="prefix iconos"></mat-datepicker>
                          </div>

                          <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker2" (click)="picker2.open()" placeholder="{{'ppe-date-start'|translate}}">
                              </mat-form-field>
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row">
                          <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                            <i mat-raised-button class="far fa-calendar-alt prefix iconos flecha" (click)="picker3.open()" ></i>
                            <mat-datepicker #picker3 startView="year" [startAt]="startDate"  class="prefix iconos"></mat-datepicker>
                          </div>
                          <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker3" (click)="picker3.open()" placeholder="{{'ppe-date-end'|translate}}">
                              </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>

                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                  <form action="#">
                    <p>
                      <label>
                        <mat-checkbox> {{'ppe-school-now'|translate}} <i class="fas fa-school iconos"></i> </mat-checkbox>
                      </label>
                    </p>
                  </form>
                </div>
              </tbody>
            </table>
          </div>
        </div>
      <div class="text-center botonpadding">
        <p id="btn" class="flecha"><i class="fas fa-plus prefix iconos m-botones"></i> {{'ppe-school-add'|translate}} </p>
      </div>
    </div>




      <div class="tab-pane" id="experiencia-laboral" role="tabpanel" aria-labelledby="experiencia-laboral-tab">
        <div class="row contenido-experiencia">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <table id="tabla-experiencia" class="table">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">{{'ecandidates-modal-work'|translate}}</th>
                  </tr>
                </thead>

                <tbody class="m-al">

                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                          <i class="fas fa-building prefix iconos"></i>
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                          <mat-form-field >
                            <input matInput placeholder="{{'publish-bill-namealt'|translate}}">
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                          <i class="fas fa-laptop prefix iconos"></i>
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                          <mat-form-field >
                            <input matInput placeholder="{{'publish-job-info'|translate}}">
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                              <i mat-raised-button class="far fa-calendar-alt prefix iconos flecha" (click)="picker4.open()" ></i>
                              <mat-datepicker #picker4 startView="year" [startAt]="startDate"  class="prefix iconos"></mat-datepicker>
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                              <mat-form-field>
                                  <input matInput [matDatepicker]="picker4" placeholder="{{'ppe-date-start'|translate}}" (click)="picker4.open()">
                                </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                              <i mat-raised-button class="far fa-calendar-alt prefix iconos flecha" (click)="picker5.open()" ></i>
                              <mat-datepicker #picker5 startView="year" [startAt]="startDate"  class="prefix iconos"></mat-datepicker>
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                              <mat-form-field>
                                  <input matInput [matDatepicker]="picker5" placeholder="{{'ppe-date-end'|translate}}">
                                </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <form action="#">
                          <p>
                            <label>
                              <mat-checkbox> {{'ppe-job-now'|translate}} <i class="fas fa-user-clock iconos"></i> </mat-checkbox>
                            </label>
                          </p>
                        </form>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                          <i class="fas fa-medal prefix iconos"></i>
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                          <mat-form-field >
                            <input matInput placeholder="{{'logros-obtenidos'|translate}}">
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                          <i class="fas fa-users prefix iconos"></i>
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                          <mat-form-field >
                            <input matInput placeholder="{{'responsabilidades'|translate}}">
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>

                </tbody>
            </table>
          </div>
        </div>
      <div class="text-center">
        <p id="btn-experiencia" class="flecha m-botones"><i class="fas fa-plus prefix iconos"></i> {{'ppe-job-add'|translate}}</p>
      </div>
      </div>

      <div class="tab-pane" id="aptitudes-certificaciones" role="tabpanel" aria-labelledby="aptitudes-certificaciones-tab">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <table class="table">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">{{'epp-heads-summary'|translate}}</th>
                </tr>
              </thead>
              <tbody class="m-al">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <mat-form-field>
                  <textarea matInput #message placeholder="{{'ingresar-resumen'|translate}}" rows="5" maxlength="500"></textarea>
                  <!-- <mat-hint align="start"><strong>{{'minimo-contrasena'|translate}}</strong> </mat-hint> -->
                  <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                </mat-form-field>
                </div>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row m-seccion">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <table class="table">
            <thead class="Color-muuwho">
              <tr>
                  <th class="font-weight-light cabeceras">{{'aptitudes-certificaciones'|translate}}</th>
              </tr>
            </thead>
            <tbody class="m-al">
              <mat-form-field>
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let ac of aptitudescertficaciones" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(ac)">
                    {{ac.name}}
                    <i matChipRemove *ngIf="removable" class="fas fa-times-circle"></i>
                  </mat-chip>
                  <input placeholder="{{'ppe-abilities-label'|translate}}"
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
            </tbody>
          </table>
        </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <table class="table">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">{{'ppp-heads-hobbies'|translate}}</th>
                </tr>
              </thead>
              <tbody class="m-al">
                <mat-form-field>
                  <mat-chip-list #chipList2>
                    <mat-chip *ngFor="let h of hobbies" [selectable]="selectable"
                             [removable]="remover" (removed)="eliminar(h)">
                      {{h.name}}
                      <i matChipRemove *ngIf="removable" class="fas fa-times-circle"></i>
                    </mat-chip>
                    <input placeholder="{{'ppe-hobbies-label'|translate}}"
                           [matChipInputFor]="chipList2"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes2"

                           (matChipInputTokenEnd)="anadir($event)">
                  </mat-chip-list>
                </mat-form-field>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="tab-pane" id="redes-sociales" role="tabpanel" aria-labelledby="redes-sociales-tab">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <table class="table">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">{{'ppp-heads-social'|translate}}</th>
                </tr>
              </thead>
              <tbody class="m-al">
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fab fa-facebook-square prefix facebook"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="Facebook" value="http://facebook.com/">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fab fa-twitter-square prefix twitter"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="Twitter" value="https://twitter.com/">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fab fa-instagram prefix iconos instagram"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="Instagram" value="https://www.instagram.com/">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fab fa-snapchat-square prefix iconos snapchat"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="Snapchat">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <table class="table seccion-tabla">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">{{'portafolio'|translate}}</th>
                </tr>
              </thead>
              <tbody class="m-al">
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fab fa-github-square prefix git"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="GitHub" value="https://github.com/">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fab fa-behance-square prefix behance"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="Behance" value="https://account.adobe.com/">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fab fa-soundcloud prefix iconos soundcloud"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="SoundCloud" value="https://soundcloud.com/">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fab fa-deviantart prefix iconos deviantart"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="deviantArt" value="https://www.deviantart.com/">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="tab-pane" id="softwares-idiomas" role="tabpanel" aria-labelledby="softwares-idiomas-tab">
        <div class="row contenido-software">
          <div id="tabla-software" class="col-lg-6 col-md-6 col-sm-12 col-12">
            <table  class="table">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">Softwares</th>
                </tr>
              </thead>
              <tbody class="m-al">
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fas fa-desktop prefix iconos deviantart"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="Software">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <form action="#">
                      <p class="text-center">{{recorrido.value}} <span>%</span> </p>
                      <mat-slider
                        #recorrido
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="10"
                        min="1"
                        max="100">
                      </mat-slider>

                     </form>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="text-center ">
              <p id="btn-software" class="flecha"><i class="fas fa-plus prefix iconos "></i> {{'agregar-otro-soft'|translate}}</p>
            </div>
          </div>

          <div id="tabla-idioma" class="col-lg-6 col-md-6 col-sm-12 col-12">
            <table class="table">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">{{'ppp-heads-language'|translate}}</th>
                </tr>
              </thead>
              <tbody class="m-al">
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fas fa-language prefix iconos deviantart"></i>
                      </div>
                      <div class="col-lg-11 col-md-12 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="{{'ppp-heads-language'|translate}}">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <form action="#">
                      <p class="text-center">{{slidey.value}} <span>%</span></p>
                       <mat-slider
                         #slidey
                         thumbLabel
                         [displayWith]="formatLabel"
                         tickInterval="10"
                         min="1"
                         max="100"
                         id="idioma">
                       </mat-slider>
                     </form>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center flecha">
              <p id="btn-idioma" class="flecha"><i class="fas fa-plus prefix iconos m-botones"></i> {{'agregar-otro-idioma'|translate}}</p>
            </div>
          </div>
        </div>
      </div>



      <div class="tab-pane" id="recomendaciones-correo-alternativo" role="tabpanel" aria-labelledby="recomendaciones-correo-alternativo-tab">
        <div class="row contenido-correo">
          <div id="tabla-correo" class="col-lg-6 col-md-6 col-sm-12 col-12">
            <table class="table">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">{{'ppe-menu-mails'|translate}}</th>
                </tr>
              </thead>
              <tbody class="m-al">
                <div class="text-center">
                  <h5>{{'ppe-mails-label'|translate}}</h5>
                </div>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-2 col-2 icono-flecha">
                        <i class="fas fa-envelope prefix iconos"></i>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                        <mat-form-field >
                          <input matInput placeholder="{{'ecandidates-modal-mail'|translate}}">
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <p id="btn-correo" class="flecha"><i class="fas fa-plus prefix iconos"></i> {{'ppe-mails-add'|translate}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <table class="table seccion-tabla">
              <thead class="Color-muuwho">
                <tr>
                    <th class="font-weight-light cabeceras">{{'ppp-heads-comments'|translate}}</th>
                </tr>
              </thead>
              <tbody class="m-al">

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
